target/
*.class
*.log
.idea/
*.iml
.DS_Store
.env

# Eclipse / STS
.settings/
.classpath
.factorypath
.project
.sts4-cache/

# VS Code
.vscode/

# Secrets & Service Keys
src/main/resources/serviceAccountKey.json
*.json.key
*.zip

